<h2>¡Invitación al {{ event }}!</h2>

<p>Estimado/a {{ guess }},</p>

<p>Nos complace invitarte al {{ event }}:</p>

<ul>
  <li><strong>Evento:</strong> {{ event }}</li>
  <li><strong>Fecha:</strong> {{ date }}</li>
  <li><strong>Hora:</strong> {{ time }}</li>
  <li><strong>Dirección:</strong> {{ address }}</li>
</ul>

<p><strong>Descripción del Evento:</strong></p>
<p>{{ description }}</p>

{{!-- <p><strong>Organizado por:</strong></p>
<p>{{organizer}}</p> --}}

<p>Para confirmar tu asistencia, ingrese a la plataforma y acepte la invitación</p>
<p>
  <a href="{{ url }}">Confirmar Asistencia</a>
</p>

<p>¡Esperamos verte allí!</p>



